{% extends "maintemplate.html" %}

{% block content %}
<div>
    <img src="{{media_url}}images/garden/history.jpg">
</div>
<p>
    تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه
    تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه
    تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه
    تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه تاریخچه
</p>
{% endblock %}