.menu__bar{
  background-color: rgb(44, 7, 67);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 5%; */
  direction: ltr;
}
footer,header{
background-color: rgb(33, 205, 248);
width:90;
}

.logo{
  color: white;
  font-size: 30px;
}

.logo span{
  color: palevioletred;
}

.menu__bar ul{
  list-style: None;
  display: flex;
}


.menu__bar ul li{
  padding: 10px 30px;
  position: relative;

}


.menu__bar ul li a{
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-size: 20px;

   transition: all 0.3s;

}


.menu__bar ul li a:hover{
  color: rgb(242, 44, 110);
  text-decoration: none;
  font-size: 20px;
  
}


.dropdown__menu{
  display: none;
  position: absolute;
  left: 0px;
  top:100%;
  background-color: rgb(15, 13, 15);
}

.menu__bar ul li:hover .dropdown__menu{
  display: block;
  position: absolute;
  left: 0px;
  top:100%;
  background-color: rgb(15, 13, 15);
}



.menu__bar ul li:hover .dropdown__menu ul{
  display: block;
  margin: 10px;

}


.menu__bar ul li:hover .dropdown__menu ul li{
  width: 40px;
  padding: 10px;
}

.fas{
  float: right;
  margin-right: 10px;
  padding-top: 3px;
}

.img_300x200{
  width: 300px;
  height: 200px;
}

.description{
  max-height: 200px;
  overflow: hidden;
}