{% extends "maintemplate.html" %}

{% block title %}مقاله ها{% endblock title %}

{% block content %}
    <main class="">
    <h1 style="text-align:center;">مقاله ها</h1>  
    <hr>
    {% for article in articles %}
        {% if article.is_active == True %}
            <section>
                <section>
                    <h3>{{ article.title }}</h3>
                    <br>
                    <p>{{ article.short_text }}</p>
                    <br>
                    {% for i in articles_authors %}
                        {% if i.article_id == article.id %}
                            {% for author in authors %}
                                {% if author.id == i.author_id %}
                                    <span>{{author.name}} {{author.family}} &nbsp;&nbsp;&nbsp; </span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                
                <div>
                    <i class="fa fa-list-alt"></i> <span>{{article.group}}</span>
                    <br>
                    <i class="fa fa-calendar"></i> <span>{{article.update_date}}</span> |
                    <br>
                    <i class="fa fa-eye"></i> <span>{{article.view_number}}</span> |
                    <br>
                    <a href="/Gaarden/blog/{{article.slug}}/">مشاهده مقاله</a>
                </div>
                </section>
                <section>
                    <img src="{{ media_url }}images/blog/{{ article.image_name }}" alt="تصویر اصلی مقاله" class="img_300x200">
                </section>
            </section>
            <hr>
        </main>
        {% endif %}
    {% endfor %}
{% endblock content %}